/* #layout {
    background-color: #343434;
}

div {
    background-color: #545454;
    color: white;
}

.btn-primary {
    background-color: #141414;
    border-color: #242424;
}

.btn-primary:hover {
    background-color: #545454;
} */